<!-- error.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Error</h1>
        <div class="alert alert-danger mt-4">
            <p>{{ error_message }}</p>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'sales_list' %}" class="btn btn-primary">Go to Sales List</a>
        </div>
    </div>
</body>
</html>